Package: lightdm-webkit-greeter
Version: 1.0
Section: base
Priority: optional
Architecture: amd64
Depends: liblightdm-gobject-1-0 (>= 1.16.6-1), libgtk-3-0 (>= 3.18.5-1), libwebkitgtk-3.0-0 (>= 2.4.9-3), libdbus-glib-1-2 (>= 0.102-1)
Maintainer: Matthias Berla <berlam@users.noreply.github.com>
Description: LightDM Webkit Greeter for Debian
